################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AzureDTL/FileContentIndex
/.vs/AzureDTL/v17
/.vs
